.slick-prev,
.slick-next{
  font-size: 0;
  color: transparent;
  background-color: rgb(3, 3, 3);
  width: 25px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 48px); 
  z-index: 3;
  cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
  font-size: 0;
  color: transparent;
  background-color: rgb(162, 154, 154);
  width: 25px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 48px); 
  z-index: 3;
  cursor: pointer;
}

.slick-slider{
  margin-bottom: 80px;
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 30px;
}

@media(max-width: 768px){
  .slick-next{
    right: 50;
  }
}

.item{
  margin-top: 15px;
  margin-bottom: 15px;
}


.slider-container {
  position: relative;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ccc; /* Príklad farby pozadia */
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider-button.prev {
  left: 0;
  margin-left: 25px;
  top: calc(50% - 48px); 
  width: 25px;
  height: 28px;
  background-color: black;
  z-index: 1;
}

.slider-button.next {
  right: 0;
  margin-right: 75px;
  top: calc(50% - 48px); 
  width: 25px;
  height: 28px;
  background-color: black;
  z-index: 1;
}



