@media(max-width: 980px){
    #Sidebar{
        border-top: 2px solid black;
        margin-top: 90px;
    }
    #content{
        margin-top: 150px;
    }
}
.productDisplay{
    margin-top: 20px;
}


@media(max-width: 575px){
    .productDisplay{
        margin-left: 40px;
        margin-right: 40px; 
    }

}