.cena {
    display: flex;
    margin-left: 0px;
    gap: 10px;
}

.novaCena {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.staraCena {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}


.vec-container:hover {
    max-width: 100%;
    transform: scale(1.02);
    transition: 0.5s;
    border: 1px solid rgb(241, 232, 232); 
    padding: 10px;
}

  
#hlavny{
    max-width: 100%;
    min-width: auto;
}



@media (max-width: 576px) {
    .cena {
        flex-direction: column;
        align-items: flex-start;
    }
    .novaCena,
    .staraCena {
        margin-top: 10px;
    }
}

.hoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
  }

.addToOblubene{
    border: none;
    color: transparent;
    background-color: transparent;
}

.addToCartButton{
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 13px;
    height: 35px;
    width: 90%;
    margin-left: 15px;
    margin-bottom: 15px;
}

.addToCartButton:hover{
    background-color: rgb(58, 57, 57);
    color: rgb(215, 210, 210);
}

.jozo{
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    background-color: rgba(255, 255, 255, 0.835);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    height: 12vh;
}

@media (max-width: 576px) {
    .jozo{
        height: 20vh;
    }
}
#cen {
    text-align: left; 
    padding-left: 25px; 
  }
  
#ds {
    text-align: left; 
    padding-left: 25px; 
}
  

  
  
