.vec p {
    margin: 10px 0;
    margin-right: auto;
}

.cena {
    display: flex;
    gap: 20px;
}

.novaCena {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.staraCena {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.vec:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.vec img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    .cena {
        flex-direction: column;
        align-items: flex-start;
    }

    .novaCena,
    .staraCena {
        margin-top: 10px;
    }
}

